@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("Images/BarOutside.jpg");
}

#home {
	text-decoration: none;
	color: #fef092;
	background-color:gray;
	opacity: .95;
	padding: 5px;
}

table {
	border-collapse: collapse;
    width: 100%;
    margin-top: .3%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:nth-child(odd){
	background-color: white;
}

th {
    background-color: #e67300;
    color: white;
}