@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

#home {
	text-decoration: none;
	color: #fef092;
	background-color:gray;
	opacity: .95;
	padding: 5px;
}

#home:hover {
	color: #ffc640;
}

#home:visited {
	color: #fef092;
}

body {
	background-image: url("Images/SadBeer.jpg");
	background-color: #f29d00;
}

body #wrapper {
	padding: 20%;
	padding-top: 15%;
	padding-left: 30%;
	padding-right: 30%;
}

p {
	color: #fbfbfb;
	background-color:gray;
	opacity: .9;
	font-size: 17px;
	padding:5%;
}

a {
	text-decoration:none;
}

a:visited {
	color: #fbfbfb;
}

a:hover {
	color: #ffc640;
}