@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("Images/beerVendor.jpg");
}

center {
	background-color: gray;
	color: white;
	width: 50%;
	margin-left: 25%;
}

div {
	margin-bottom: 16%;
}

#home {
	text-decoration: none;
	color: #fef092;
	background-color:gray;
	opacity: .95;
	padding: 5px;
}

#home:hover {
	color: #ffc640;
}

#home:visited {
	color: #fef092;
}