@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	padding-left: 25%;
	padding-right: 25%;
	background-image: url("Images/beerVendor.jpg");
}

center {
	background-color: gray;
	color: white;
	margin-top: 32%;
}