@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	padding-left: 25%;
	padding-right: 25%;
	
	background-image: url("Images/BarOutside.jpg");
}

div {
	margin-bottom: 20%;
}

center {
	background-color: gray;
	color: white;
	opacity: .9;
}

#home {
	text-decoration: none;
	color: #fef092;
	background-color:gray;
	opacity: .95;
	padding: 5px;
}

#home:hover {
	color: #ffc640;
}

#home:visited {
	color: #fef092;
}